*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 1100px;
    background-image: url(../images/vbvbb-min.jpg);
    backdrop-filter: 1;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hh , .hp{
    
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 20px;
}
.hh{
    padding: 100px;
    font-size: 60px;
}
.hp{
    padding: 0px 200px;
    font-size: 40px;
    text-align: justify;
}
.con{
    display: inline-block;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: white;
    margin: 50px 20px;
}
.con h3{
    font-size: 26px;
}
.con p{
    font-size: 23px;
    margin: 30px;
}
.con a{
    text-decoration: none;
    font-size: 20px;
    color: orange;
}
.con a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}